boto3==1.4.3
botocore==1.4.93
certifi==2017.7.27.1
chardet==3.0.4
defusedxml==0.5.0
Django==1.10.4
django-braces==1.11.0
django-cors-headers==2.1.0
django-extensions==1.9.7
django-facebook==6.0.3
django-filter==1.0.1
django-model-utils==2.6
django-money==0.12
django-oauth-toolkit==0.11.0
django-rest-framework-social-oauth2==1.0.4
djangorestframework==3.11.2
djangorestframework-camel-case==0.2.0
djangorestframework-word-filter==0.1.1
docutils==0.14
drf-extensions==0.3.1
gunicorn==19.7.1
httplib2==0.10.3
idna==2.6
jmespath==0.9.3
oauth2client==4.1.2
oauthlib==1.1.2
olefile==0.44
Pillow==4.3.0
py-moneyed==0.6.0
pyasn1==0.3.7
pyasn1-modules==0.1.5
PyJWT==1.5.3
PyMySQL==0.7.11
python-dateutil==2.6.1
python-http-client==3.0.0
python-social-auth==0.2.21
python3-openid==3.1.0
requests==2.18.4
requests-oauthlib==0.8.0
rsa==3.4.2
s3transfer==0.1.11
sendgrid==3.6.3
six==1.11.0
typing==3.6.2
Unidecode==0.4.21
urllib3==1.22
